.logo{
    width: 250px;
}

.contentCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokeCard{
    
    background-image: url('../../assets/image/pokebola.svg'), url('../../assets/image/pokebola.svg') ,radial-gradient(circle, rgba(56,189,175,1) 0%, rgba(36,125,157,1) 100%); 
    background-repeat: no-repeat, no-repeat;
    background-size: 150px, 75px, auto;
    background-position: -20% 100%, 110% -1%;
    border: none;
    border-radius: 10px;
    margin: 15px;
    width: 18rem;
}

.cardImg{
    min-height: 17rem !important;
}

.cardName{
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 20px;
}

.all{
    background-image: radial-gradient(circle, rgba(38,68,196,1) 0%, rgba(61,69,187,1) 47%, rgba(21,8,113,1) 100%);
    min-height: 100vh;
}

/* boton regresar */
.regresar{
    position: relative;
    top: 45px;
    left: 45px;
}

.water{
    background-image: radial-gradient(circle, rgba(142,180,240,1) 0%, rgba(85,99,246,1) 100%);
    min-height: 100vh;
}

.fire{
    background-image: radial-gradient(circle, rgba(248,84,79,1) 0%, rgba(254,125,118,1) 48%, rgba(250,17,0,1) 100%);;
    min-height: 100vh;
}

.rock{
    background-image: radial-gradient(circle, rgba(218,191,91,1) 0%, rgba(198,124,39,1) 100%);
    min-height: 100vh;
}

.electric{
    background-image: radial-gradient(circle, rgba(252,250,153,1) 0%, rgba(246,247,76,1) 48%, rgba(249,255,2,1) 100%);
    min-height: 100vh;
}

.buscando{
    display: block;
    width: 100%;
    text-align: center;
}

.buscando > p{
    padding: 25px 0px;
    font-size: 22px;
    font-weight: bold;
}